<div class="grid grid-cols-12 overflow-auto sm:h-screen">

  <!-- 🎨 Aside image (branding) -->
  <app-aside-image class="relative hidden bg-[#FFE9D1] lg:col-span-7 lg:block xl:col-span-8 2xl:col-span-9 dark:bg-[#14181c]"></app-aside-image>

  <!-- ✅ Right panel -->
  <div class="col-span-12 lg:col-span-5 xl:col-span-4 2xl:col-span-3">
    <div class="flex flex-col items-stretch p-8 lg:p-16">

      <!-- Logo branding -->
      <div class="flex items-center justify-between">
        <a routerLink="/">
          <div class="mx-4 flex items-center gap-2 font-black">
            <div class="mask mask-hexagon font-train bg-primary text-white p-3">T</div>
            <span class="font-train text-3xl">TURA</span>
          </div>
        </a>
      </div>

      <!-- 🧾 Header -->
      <h1 class="mt-8 text-center text-2xl font-semibold md:mt-12 lg:mt-24">
        {{ 'REGISTER.ACTIVATE_ACCOUNT' | translate }}
      </h1>

      <section *ngIf="!hasLoaded()" class="text-center mt-10">
        <span class="loading loading-spinner text-primary"></span>
      </section>

      <!-- ❌ Lien invalide -->
      <section *ngIf="hasLoaded() && datas().length === 0" class="text-center text-error mt-10">
        <div class="text-3xl flex justify-center items-center gap-2 mb-5">
          <span-lucide [img]="AlertTriangleIcon" class="size-6" />
          {{ 'ERROR.LINK_UNAVAILABLE' | translate }}
        </div>
        <a [routerLink]="['/account/login']" class="btn btn-primary" role="button">{{ 'GLOBAL.SIGN_IN' | translate }}</a>
      </section>

      <!-- ✅ Lien valide -->
      <section *ngIf="datas() && datas().length > 0" class="text-center mt-10 space-y-6">
        <button
          class="btn btn-primary w-full"
          (click)="onSubmitForm()"
          [disabled]="waiting()"
        >
          {{ 'GLOBAL.ACTIVATE' | translate }}
        </button>
      </section>
    </div>
  </div>
</div>
