
<div class="drawer lg:drawer-open min-h-screen bg-base-200">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />

	<!-- content -->
	<main class="drawer-content flex flex-col min-h-screen">
        <div class="grid grid-cols-12 grid-rows-[min-content] gap-y-12 p-4 lg:gap-x-12 lg:p-10 flex-grow">
        
            <!-- ✅ app-header doit avoir col-span-12 à l’intérieur -->
            <app-header class="col-span-12"></app-header>

			<!-- ✅ wrapper col-span-12 autour du router-outlet -->
			<div class="col-span-12">
				<router-outlet></router-outlet>
			</div>

		</div>

        <!-- ⬇ FOOTER end of main -->
        <app-footer></app-footer>
	</main>
	<!-- /content -->
	<aside class="drawer-side z-10">
		<label for="my-drawer" class="drawer-overlay"></label>
		<!-- sidebar menu -->
		<nav class="bg-base-100 flex min-h-screen w-72 flex-col gap-2 overflow-y-auto px-6 py-10">
			<div class="mx-4 flex items-center gap-2 font-black">
				<span class="text-3xl opacity-50">MENU</span>
			</div>
			<ul class="menu w-full" (click)="closeDrawer()">
				<li>
					<a class="active" [routerLink]="['/']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
						{{ 'HEADER.NAV.DASHBOARD' | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/game/rules']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scale-icon lucide-scale"><path d="m16 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/><path d="m2 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/><path d="M7 21h10"/><path d="M12 3v18"/><path d="M3 7h2c2 0 5-1 7-2 2 1 5 2 7 2h2"/></svg>
						{{ 'HEADER.NAV.RULES' | translate }}
					</a>
				</li>
			</ul>
		</nav>
		<!-- /sidebar menu -->
	</aside>
</div>