
<div class="drawer xl:drawer-open min-h-screen bg-base-200">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />

	<!-- content -->
	<main class="drawer-content flex flex-col min-h-screen">
        <div class="grid grid-cols-12 grid-rows-[min-content] gap-y-12 p-4 lg:gap-x-12 lg:p-10 flex-grow">
        
            <!-- ✅ app-header doit avoir col-span-12 à l’intérieur -->
            <app-header class="col-span-12"></app-header>

			<!-- ✅ wrapper col-span-12 autour du router-outlet -->
			<div class="col-span-12">
				<router-outlet></router-outlet>
			</div>

		</div>

        <!-- ⬇ FOOTER end of main -->
        <app-footer></app-footer>
	</main>
	<!-- /content -->
	<aside class="drawer-side z-10">
		<label for="my-drawer" class="drawer-overlay"></label>
		<!-- sidebar menu -->
		<nav class="bg-base-100 flex min-h-screen w-72 flex-col gap-2 overflow-y-auto px-6 py-10">
			<div class="mx-4 flex items-center gap-2 font-black">
				<span class="text-3xl opacity-50">MENU</span>
			</div>
			<ul class="menu w-full" (click)="closeDrawer()">
				<li>
					<a class="active" [routerLink]="['/']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
						{{ 'HEADER.NAV.DASHBOARD' | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/game/rules']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scale-icon lucide-scale"><path d="m16 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/><path d="m2 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/><path d="M7 21h10"/><path d="M12 3v18"/><path d="M3 7h2c2 0 5-1 7-2 2 1 5 2 7 2h2"/></svg>
						{{ 'HEADER.NAV.RULES' | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/zw/my-category']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gamepad2-icon lucide-gamepad-2"><line x1="6" x2="10" y1="11" y2="11"/><line x1="8" x2="8" y1="9" y2="13"/><line x1="15" x2="15.01" y1="12" y2="12"/><line x1="18" x2="18.01" y1="10" y2="10"/><path d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z"/></svg>
						Ma Catégorie
					</a>
				</li>
				<li>
					<a [routerLink]="['/overview']">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						Aperçu du Tour
					</a>
				</li>
			</ul>
		</nav>
		<!-- /sidebar menu -->
	</aside>
</div>