<div class="max-w-4xl mx-auto p-8">

  <!-- Main panel -->
  <div class="col-span-12 lg:col-span-10 xl:col-span-8 2xl:col-span-6 bg-base-100">
    <div class="flex flex-col justify-center h-full p-8 lg:p-16">

      @if(alreadyLinked()) {
        <div class="alert alert-success mb-5">
          <p>
            Vous avez connecté votre ID Zwift : <strong>{{ alreadyLinked() }}</strong>.
          </p>
        </div>

        <div class="card bg-base-200 card-border card-sm overflow-hidden shadow-lg mb-5">
          <div class="card-body gap-4">
            Votre catégorie apparaitra moins de 15 minutes après votre inscription dans la page :
            <a class="text-primary font-medium" [routerLink]="['/zw/my-category']">"Ma catégorie"</a>
          </div>
        </div>


        <div class="card bg-base-200 card-border card-sm overflow-hidden shadow-lg mb-5">
          <div class="card-body gap-4">
            <span class="font-bold text-error">Important</span>
            Vous devez fournir : 
            <ul>
              <li>- une photo de votre home trainer</li>
              <li>- une vidéo de vérification du poids si vous n'avez pas fourni de lien lors de l'inscription</li>
            </ul>
            <a class="text-primary font-medium" [routerLink]="['/user/file-upload']">"Téléverser un fichier"</a>
          </div>
        </div>

        <!-- Logout -->
        <div class="mt-10 border-t border-base-content/10 pt-6 text-center">
          <p class="text-xs text-base-content/60 leading-relaxed">
            Cette identification est stockée localement sur cet appareil.
          </p>

          <button
            type="button"
            class="btn btn-ghost btn-sm mt-4"
            (click)="logout()"
          >
            Se déconnecter
          </button>
        </div>
      } 

      @else {
        <!-- Inscription -->
        <section>
            <!-- Title -->
            <h1 class="text-center text-2xl font-bold">
              Reconnection simple
            </h1>

            <p class="mt-4 text-center text-sm text-base-content/70 leading-relaxed">
              Si vous avez déjà effectué <strong>votre inscription</strong> à la compétition.<br>
              Vous pouvez vous reconnecter par ce formulaire.
            </p>

            <!-- Form -->
            <form
              class="mt-8 space-y-6"
              [formGroup]="userForm"
              (ngSubmit)="onSubmitForm()"
            >

              <!-- Zwift ID -->
              <fieldset class="fieldset">
                <label class="fieldset-legend">
                  Zwift ID
                </label>

                <label class="input input-bordered w-full flex items-center gap-2">
                  <span-lucide [img]="LinkIcon" class="text-base-content/60 size-5"></span-lucide>

                  <input
                    type="number"
                    inputmode="numeric"
                    placeholder="Ex : 1234567"
                    class="grow"
                    formControlName="zwiftId"
                  />
                </label>

                <p class="mt-1 text-sm text-error"
                  *ngIf="zwiftId?.errors?.['required'] && zwiftId?.touched">
                  Le Zwift ID est obligatoire.
                </p>

                <p class="mt-1 text-sm text-error"
                  *ngIf="zwiftId?.errors?.['min'] && zwiftId?.touched">
                  Zwift ID invalide.
                </p>
              </fieldset>




              <!-- Email -->
              <fieldset class="fieldset">
                <label class="fieldset-legend">Email</label>

                <label class="input input-bordered w-full flex items-center gap-2">
                  <span-lucide [img]="MailIcon" class="text-base-content/60 size-5"></span-lucide>

                  <input
                    type="email"
                    placeholder="email@exemple.com"
                    class="grow"
                    formControlName="email"
                  />
                </label>

                <p class="mt-1 text-sm text-error"
                  *ngIf="email?.errors?.['required'] && email?.touched">
                  L’email est obligatoire.
                </p>

                <p class="mt-1 text-sm text-error"
                  *ngIf="email?.errors?.['email'] && email?.touched">
                  Email invalide.
                </p>
              </fieldset>


              <!-- Submit -->
              <button
                type="submit"
                class="btn btn-primary w-full"
                [class.loading]="waiting()"
                [disabled]="waiting()"
              >
                Me reconnecter
              </button>

            </form>
        </section>
      }
    </div>
  </div>

</div>
