<div class="grid grid-cols-12 overflow-auto sm:h-screen">
  <!-- Aside image branding -->
  <app-aside-image class="relative hidden bg-[#FFE9D1] lg:col-span-7 lg:block xl:col-span-8 2xl:col-span-9 dark:bg-[#14181c]"></app-aside-image>

  <!-- Forgot password main panel -->
  <div class="col-span-12 lg:col-span-5 xl:col-span-4 2xl:col-span-3">
    <div class="flex flex-col items-stretch p-8 lg:p-16">
      <div class="flex items-center justify-between">
        <a href="/">
          <div class="mx-4 flex items-center gap-2 font-black">
            <div class="mask mask-hexagon font-train bg-primary text-white p-3">T</div>
            <span class="font-train text-3xl">TURA</span>
          </div>
        </a>
      </div>

      <h3 class="mt-8 text-center text-xl font-semibold md:mt-12 lg:mt-24">
        {{ 'PASSWORD.FORGOT' | translate }}
      </h3>
      <h3 class="text-base-content/70 mt-2 text-center text-sm">
        Enter your email to receive a password reset link.
      </h3>

      <!-- Success section -->
      <div class="mt-6 md:mt-10" *ngIf="isDone()">
        <section class="text-center">
          <h1 class="text-3xl font-bold text-success flex items-center justify-center gap-2">
            <span-lucide [img]="ThumbsUpIcon" class="size-6"></span-lucide>
            {{ 'GLOBAL.EMAIL_SENT' | translate }}
          </h1>
          <p class="mt-4 text-lg">{{ 'REGISTER.SPAM' | translate }}</p>
          <p class="text-sm text-gray-500 mt-2">
            {{ 'ERROR.NOT_RECEIVED' | translate }} - {{ 'ERROR.CONTACT_SUPPORT' | translate }}
            <a href="mailto:info@turaracing.com" class="link link-primary">info&#64;turaracing.com</a>
          </p>
          <div class="mt-6">
            <a [routerLink]="['/']" class="btn btn-primary btn-wide">Home</a>
          </div>
        </section>
      </div>

      <!-- Form section -->
      <form class="mt-6 md:mt-10" [formGroup]="userForm" (ngSubmit)="onSubmitForm()" *ngIf="!isDone()">
        <fieldset class="fieldset">
          <label class="fieldset-legend">Email Address</label>
          <label class="input w-full">
            <span-lucide [img]="MailIcon" class="text-base-content/80 size-5"></span-lucide>
            <input
              autocomplete="off"
              type="email"
              placeholder="Email"
              class="grow"
              formControlName="email"
            />
          </label>
          <div class="text-red-500 text-sm mt-1" *ngIf="email?.errors?.['required'] && email?.touched">
              {{ 'ERROR.EMAIL_REQUIRED' | translate }}
            </div>
            <div class="text-red-500 text-sm mt-1" *ngIf="email?.errors?.['email'] && email?.touched">
              {{ 'ERROR.EMAIL_INVALID' | translate }}
            </div>
        </fieldset>

        <div class="mt-6 flex flex-col gap-3">
          <button type="submit" class="btn btn-primary w-full" *ngIf="!waiting()">
            {{ 'PASSWORD.RESET' | translate }}
          </button>
          <button class="btn btn-primary w-full" disabled *ngIf="waiting()">
            <span class="loading loading-spinner"></span>
            {{ 'GLOBAL.PLEASE_WAIT' | translate }}
          </button>
          <a [routerLink]="['/account/login']" class="btn btn-ghost">{{ 'GLOBAL.CANCEL' | translate }}</a>
        </div>

        <p class="text-sm text-base-content/60 mt-6">
          {{ 'LOGIN.FORGOT_EMAIL' | translate }} {{ 'ERROR.CONTACT_SUPPORT' | translate }}.<br />
          <a href="mailto:info@turaracing.com" class="link">info&#64;turaracing.com</a>
        </p>
      </form>
    </div>
  </div>
</div>